.tab-header{
    display: flex;
    margin: 2rem auto;
    width: 50%;
}

.tab-header button{
    flex: 1;
    padding: 10px 0;
    border: none;
}

.tab-content{
    margin: auto;
    width: 50%;
}

.active{
    background-color: rgb(255, 0, 191);
    color: white;
    font-weight: bold;
    transition: .5s;
}

